<header class="sticky-header">
    <img class="left-img" src="https://3.bp.blogspot.com/-vKcPEPGED5A/UI-_mVdZtYI/AAAAAAAAAFs/KeinoqBVslU/s320/Gadgemaharaj.JPG" alt="Left Image">
    <h1 class="header-text">
        <!-- स्वच्छ गांव
        निर्मल गांव -->
        <!-- कार्यालय ग्रामपंचायत : खडकी<br>
        पंचायत समिती : हिंगणा, तहसिल :नागपुर ,<br>
        जिल्हा : नागपुर -->

        ग्रामपंचायत: धामना (लिंगा) <br>
        पंचायत समिती: नागपुर,  जिल्हा: नागपुर
        <!-- Gram Panchayat Dhamna (Linga)
        <br>
        Panchayct Samiti -->
        <!-- <div class="address">
            Plot No 150 Shastri Nagar
            <br>
            Nagpur Maharashtra, 440008
        </div> -->
    </h1>
    <img class="right-img" src="https://upload.wikimedia.org/wikipedia/mr/thumb/2/2d/Tukdoji.jpg/200px-Tukdoji.jpg" alt="Right Image">
  </header>
  <br><br><br><br>
  <marquee class="marquee-tag sticky-marquee">
    योजना : शबरी आवास योजना, मोदी आवास योजना, रमाई आवास योजना करिता ग्रामपंचायतला अर्ज करावा. अधिक महिती साठी ग्रामपंचायतशी संपर्क करा
    <!-- ramai aawas yojnecha laabh ghenykarita -->
  </marquee>
 
  