<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column">
                <h4>Office Address</h4>
                <p>ग्रामपंचायत धामना (लिंगा) </p>
                <p>अमरावती रोड, नागपूर, महाराष्ट्र</p>
                <!-- <p>ता. जि. नागपूर, महाराष्ट्र</p> -->
                <p>Email: gpdhamna@gmail.com</p>

                <p>&nbsp;</p>

                <h4>Presented By</h4>
                <p>Shree Krishna Enterprises</p>
                <p>Mob 8379871590</p>
            </div>
            <div class="column">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="#">नरेश येलेकर (करवसुली कर्मचारी)</a></li>
                    <li><a href="#">मो. ९६०४९९८४२४</a></li>
                    <li><a href="#">&nbsp;</a></li>
                    <li><a href="#">नरेश पारधी (पाणीपुरवठा कर्मचारी)</a></li>
                    <li><a href="#">मो. ७३८७४१३५५६</a></li>
                    <li><a href="#">&nbsp;</a></li>
                    <li><a href="#">लीलाधर ठाकरे (रोजगार सेवक)</a></li>
                    <li><a href="#">मो. ९५२७९५४६६१</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
<!--            <div class="column">
                <h4>Social Media</h4>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>-->
            <div class="column">
                <!-- <h4>Social Media</h4> -->
                <ul>
                    <li>
                        <img class="logo" src="assets/images/footer_logo/g-20.png" alt="Right Image">&nbsp;&nbsp;
                        <img class="logo" src="assets/images/footer_logo/smart-gram.png" alt="Right Image">&nbsp;&nbsp;
                        <img class="logo" src="assets/images/footer_logo/maha-gov.jpeg" alt="Right Image">&nbsp;
                    </li>
                    <!-- <li>
                        <img class="logo" src="assets/images/footer_logo/maha-gov.jpeg" alt="Right Image">&nbsp;
                        <img class="logo" src="assets/images/footer_logo/g-20.png" alt="Right Image">&nbsp;&nbsp;
                        <img class="logo" src="assets/images/footer_logo/smart-gram.png" alt="Right Image">&nbsp;&nbsp;
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>